<% layout("layouts/boilerplate") %>
    <script src="https://kit.fontawesome.com/62a2a279f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/coursesIndex.css">
    <section>

        <div id="search">
            <form action="/courses" method="POST" id="courseSearch">
                <input type="search" name="searched" id="searchInput" placeholder="Subject/teacher name">
            </form>
        </div>
        <a href=""></a>
        <div class="course-list">
            <% courses.forEach(course=> { %>
                <div class="course-card">
                    <% if(course.image){ %>
                        <div class="default-img-container">
                            <img src="<%= course.image.url %>" alt="">
                        </div>
                        <% } else{ %>
                            <div class="default-img-container">
                                <img src="https://res.cloudinary.com/dd36t4xod/image/upload/v1656188369/CentroTech/courses/Image_upload-pana_ol1co3.png"
                                    alt="">
                            </div>
                            <% } %>
                                <div class="course-card-flex">
                                    <% if(user && (!isAdmin && !isInstructor && !user.courses.includes(course._id))){ %>
                                        <div class="cart-wish">
                                            <form action="/courses/wishlist/<%= course._id %>?_method=PUT"
                                                method="POST">
                                                <button type="submit"><i class="fa fa-solid fa-heart"></i></button>
                                            </form>
                                        </div>
                                        <% } %>
                                            <div>
                                                <h3>
                                                    <%= course.name %>
                                                </h3>
                                                <h5>
                                                    <%= course.instructor.fullname %>
                                                </h5>
                                            </div>
                                            <% if(user && (!isAdmin && !isInstructor &&
                                                !user.courses.includes(course._id))){ %>
                                                <div class="cart-wish">
                                                    <form action="/courses/cart/<%= course._id %>" method="POST">
                                                        <button type="submit"><i
                                                                class="fa fa-solid fa-cart-arrow-down"></i></button>
                                                    </form>
                                                </div>
                                                <% } %>
                                </div>

                                <div class="card-price">
                                    <p>
                                        <%= course.price %> L.E
                                    </p>
                                    <% if(user && (!isAdmin && !isInstructor && !user.courses.includes(course._id))){ %>
                                        <% } %>
                                            <a href="/courses/show/<%= course._id %> "><button>View Course</button></a>
                                </div>

                </div>
                <% }); %>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/javascripts/coursesIndex.js"></script>