<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/showApplications.css">
    <section>
        <div class="accept-popup">
            <form action="">
                <label for="text">Enter password</label>
                <input type="text">
                <button>Send Mail</button>
            </form>
        </div>
        <h1>Accepted Applications</h1>
        <form action="/admins/appmanagement/accepted" id="search" method="POST">
            <input type="search" name="searched" id="searchInput" placeholder="Search by any field">
        </form>
        <div class="table-container">
        <table id="usersTable">
            <thead>
                <tr class="headers">
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Field</th>
                    <th>Application</th>
                    <th>Delete Application</th>
                </tr>
            </thead>
            <tbody>
                <% acceptedApps.forEach(app=> { %>
                    <div>
                        <tr class="data">
                            <td class="info">
                                <div class="popup">
                                    <h2>
                                        <%= app.fullname %>'s Application
                                    </h2>
                                    <div>
                                        <p>Fullname:</p>
                                        <p>
                                            <%= app.fullname %>
                                        </p>
                                    </div>
                                    <div>
                                        <p>Email:</p>
                                        <p>
                                            <%= app.email %>
                                        </p>
                                    </div>
                                    <div>
                                        <p>Mobile Number:</p>
                                        <p>
                                            <%= app.phone %>
                                        </p>
                                    </div>
                                    <div>
                                        <p>Speciality:</p>
                                        <p>
                                            <%= app.specialization %>
                                        </p>
                                    </div>
                                    <p id="textarea"
                                        style="width: 250px; word-wrap: break-word; margin-left: auto; margin-right: auto;">
                                        <%= app.appReason %>
                                    </p>
                            </td>
                            <td data-label="Username">
                                <%= app.fullname %>
                            </td>
                            <td data-label="Email">
                                <%= app.email %>
                            </td>
                            <td data-label="Number">
                                <%= app.phone %>
                            </td>
                            <td data-label="Specialization">
                                <%= app.specialization %>
                            </td>
                            <td data-label="View App">
                                <button class="infobtn" id="popup-btn">View Application</button>
                            </td>
                            <td data-label="Delete App">
                                <form action="" id="delete-btn-form">
                                    <button id="deleteapp-btn">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </div>
                    <% }); %>

            </tbody>
        </table>
    </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/javascripts/acceptedapps.js"></script>