<% layout("layouts/boilerplate") %>
    <script src="https://kit.fontawesome.com/62a2a279f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <section class="container">
        <div id="first-row">
            <h1>
                <%= courses.length %> Courses in cart
            </h1>
            <button id="wishlist-btn">Wishlist</button>
        </div>
        <div class="cart-headers">
            <h1>Course Name</h1>
            <h1>Teacher</h1>
            <h1>Price</h1>
        </div>
        <% let total=0; courses.forEach(course=> { %>
            <div class="cart-data">
                <div id="delete-div">
                    <p>
                        <%= course.name %>
                    </p>
                    <form action="/cart/delete/<%= course._id %>" method="POST" >
                        <!-- <button type="submit"><i class="fa fa-solid fa-trash-xmark"></i></button> -->
                        <button type="submit" id="trash-btn"><i class="fa fa-solid fa-trash"></i></button>
                    </form>
                </div>

                <p>
                    <%= course.instructor.fullname %>
                </p>
                <p>
                    <%= course.price %>
                </p>
            </div>
            <% total+=course.price; }); %>
                <div id="total">
                    <h1>Total</h1>
                    <h1>
                        <%= total %>
                    </h1>
                </div>
                <div id="buttons">
                    <a href="/courses"><button>Continue Shoping</button></a>
                    <a href="/courses/purchase"><button>Checkout</button></a>
                </div>


    </section>