<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/questions.css">
    <style>
        .popup {
            background-color: white;
            border: 2px #4e47ed solid;
            border-radius: 10px;
            /* display: none; */
            flex-direction: column;
            width: 33%;
            position: absolute;
            justify-self: center;
            height: fit-content;
            text-align: center;
            display: none;
        }

        .popup input {
            display: block;
            border-radius: 10px;
            border: 1px #4e47ed solid;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 2em;
            padding: 1em 1em;
        }

        .popup h1 {
            color: #4e47ed;
            text-align: center;
            font-size: 40px;
            margin: 0.5em 0;
        }

        .popup button {
            color: white;
            background-color: #4e47ed;
            border-radius: 10px;
            width: 70%;
            border: none;
            padding: 1em 0;
            margin-bottom: 2em;
            cursor: pointer;
        }

        .popup.show {
            display: block;
        }
    </style>
    <section class="container">
        <h1>Questions & Answers</h1>

        <% questions.slice().reverse().forEach(question=> { %>
            <div class="topic-container">
                <a href="/questions/<%= question._id %>">
                    <div class="main-flex">
                        <img src="userimg.png" alt="">
                        <div>
                            <h4>
                                <%= question.title %>
                            </h4>
                            <% if(question.askedBy){ %>
                                <p id="author">
                                    <%= question.askedBy.fullname %>
                                </p>
                                <% } else if(question.askedByOAuth){ %>
                                    <p id="author">
                                        <%= question.askedByOAuth.fullname %>
                                    </p>
                                    <% } %>
                        </div>
                        <p id="time">
                            <%= question.date %>
                        </p>
                    </div>
                </a>
            </div>
            <% }); %>
                <!-- <div class="topic-container">
            <div class="main-flex">
                <img src="userimg.png" alt="">
                <div>
                    <h4>How to suicide without pain</h4>
                    <p id="author">By ay</p>
                </div>
                <p id="time">21:35</p>
            </div>

        </div>
        <div class="topic-container">
            <div class="main-flex">
                <img src="userimg.png" alt="">
                <div>
                    <h4>How to suicide without pain</h4>
                    <p id="author">By ay</p>
                </div>
                <p id="time">21:35</p>
            </div>

        </div> -->
                <button id="new-topic">New Topic</button>

                <div class="popup">
                    <h1>Ask A Question</h1>
                    <form action="/questions" method="POST">
                        <!-- <input type="text" placeholder="Course name" name="course[name]"> -->
                        <!-- <input type="text" placeholder="Course subject" name="course[subject]"> -->
                        <!-- <input type="text" placeholder="Instructor E-mail" name="course[email]"> -->
                        <!-- <input type="text" placeholder="Teacher name"> -->
                        <!-- <input type="number" placeholder="Course fees" name="course[price]"> -->
                        <input type="text" name="title" id="title" placeholder="Enter your question title">
                        <textarea name="details" id="details" cols="30" rows="10"
                            placeholder="Enter your question details"></textarea>
                        <button id="popup-btn" type="submit">Ask Question</button>
                    </form>
                </div>
    </section>

    <script>
        const popupQuerySelector = ".popup"
        const popup = document.querySelector(popupQuerySelector)
        const popupBtn = document.querySelector("#new-topic")
        popupBtn.addEventListener("click", () => {
            setTimeout(() => {
                if (!popup.classList.contains("show")) {
                    // Add class `show` to filterList element
                    popup.classList.add("show");
                }
            }, 150);
        })

        document.addEventListener("click", (e) => {
            const isClosest = e.target.closest(popupQuerySelector)
            console.log(isClosest)
            if (!isClosest && popup.classList.contains("show")) {
                popup.classList.remove("show");
            }
        })
    </script>