<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/takeQuiz.css">
    <section>
        <div class="header">
            <h1>
                <%= quiz.course.name %>
            </h1>
            <p id="grade">Your final grade is <span>
                    <%= finalGrade %>
                </span> marks out of <span>
                    <%= quiz.totalGrade %>
                </span> marks</p>
        </div>

        <div class="mcq">
            <form action="/quiz/<%= quiz._id %>" method="POST">
                <% quiz.questions.forEach((question, i)=> { %>
                    <div class="question">
                        <p style="display: inline-block;">Q<%= i+1 %>) <%= question.question %>
                                    <p id="question-mark">
                                        <%= question.grade %> Marks
                                    </p>
                        </p>

                        <div>
                            <input type="radio" name="correctAnswers[<%= i %>]" value="answer1"
                                <%=answers[i]==="answer1" ? "checked" : "" %> disabled>
                            <label for="" <%=question.correctAnswers[0]==="answer1" ? "style= color:green;"
                                : "style=color:red;" %>>
                                <%= question.answer1 %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="correctAnswers[<%= i %>]" value="answer2"
                                <%=answers[i]==="answer2" ? "checked" : "" %> disabled>
                            <label for="" <%=question.correctAnswers[0]==="answer2" ? "style= color:green;"
                                : "style=color:red;" %>>
                                <%= question.answer2 %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="correctAnswers[<%= i %>]" value="answer3"
                                <%=answers[i]==="answer3" ? "checked" : "" %> disabled>
                            <label for="" <%=question.correctAnswers[0]==="answer3" ? "style= color:green;"
                                : "style=color:red;" %>>
                                <%= question.answer3 %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="correctAnswers[<%= i %>]" value="answer4"
                                <%=answers[i]==="answer4" ? "checked" : "" %> disabled>
                            <label for="" <%=question.correctAnswers[0]==="answer4" ? "style= color:green;"
                                : "style=color:red;" %>>
                                <%= question.answer4 %>
                            </label>
                        </div>
                    </div>

                    <% }); %>

            </form>
        </div>
    </section>