<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/questions.css">
    <style>
        .popup {
            background-color: white;
            border: 2px #4e47ed solid;
            border-radius: 10px;
            flex-direction: column;
            width: 33%;
            position: absolute;
            justify-self: center;
            height: fit-content;
            text-align: center;
            display: none;
            top: 15%;
        }

        .popup input {
            display: block;
            border-radius: 10px;
            border: 1px #4e47ed solid;
            width: 70%;
            margin: 0 auto;
            /* margin-bottom: 2em; */
            padding: 1em 1em;
        }

        .popup h1 {
            color: #4e47ed;
            text-align: center;
            font-size: 40px;
            margin: 0.5em 0;
        }

        .popup button {
            color: white;
            background-color: #4e47ed;
            border-radius: 10px;
            width: 70%;
            border: none;
            padding: 1em 0;
            margin-bottom: 2em;
            cursor: pointer;
        }

        .popup.show {
            display: block;
        }

        #flex-btn-h1 {
            grid-column: 1/12;
            display: flex;
            flex-direction: column-reverse;
        }

        #flex-btn-h1 button {
            width: 20%;
            margin: 1em 0;
        }

        #flex-btn-h1 h1 {
            font-size: 30px;
        }

        @media (max-width: 1000px) {
            .popup {
                width: 50%;
            }
        }

        @media (max-width: 800px) {
            #flex-btn-h1 h1 {
                font-size: 24px;
            }

            #flex-btn-h1 button {
                width: 30%;
            }

            .popup {
                width: 60%;
            }

            .popup h1 {
                font-size: 26px;
            }

        }
        @media (max-width: 550px) {
        

            .popup {
                width: 80%;
            }

            .popup h1 {
                font-size: 26px;
            }
            .popup input {
                width: 80%;
            }
            textarea {
                width: 80%;
            }
            .popup button {
                width: 80%;
            }

        }

        @media (max-width: 476px) {
            #flex-btn-h1 h1 {
                font-size: 18px;
            }

            #flex-btn-h1 button {
                width: 40%;
            }

            .container {
                padding: 0 1em;
            }

        }
    </style>
    <section class="container">
        <div id="flex-btn-h1">
            <button id="new-topic">New Ticket</button>
            <h1>Create Ticket - Contact Admin</h1>

        </div>

        <% tickets.slice().reverse().forEach(ticket=> { %>
            <div class="topic-container">
                <a href="/support-tickets/<%= ticket._id %>">
                    <div class="main-flex">
                        <img src="userimg.png" alt="">
                        <div>
                            <h4>
                                <%= ticket.title %>
                            </h4>
                            <% if(ticket.askedBy){ %>
                                <p id="author">
                                    <%= ticket.askedBy.fullname %>
                                </p>
                                <% } else if(ticket.askedByOAuth){ %>
                                    <p id="author">
                                        <%= ticket.askedByOAuth.fullname %>
                                    </p>
                                    <% } %>
                        </div>
                        <p id="time">
                            <%= ticket.date %>
                        </p>
                    </div>
                </a>
            </div>
            <% }); %>
                <div class="popup">
                    <h1>Open A Ticket</h1>
                    <form action="/support-tickets" method="POST">
                        <input type="text" name="title" id="title" placeholder="Enter your ticket title">
                        <textarea name="details" id="details" cols="30" rows="10"
                            placeholder="Enter your ticket details"></textarea>
                        <button id="popup-btn" type="submit">Open Ticket</button>
                    </form>
                </div>
    </section>
    <script src="/javascripts/supportTickets.js"></script>