<% layout("layouts/boilerplate") %>
    <script src="https://kit.fontawesome.com/62a2a279f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/wishlist.css">
    <section class="container">
        <div id="first-row">
            <h1>
                <%= favorites.length %> Courses Wishlisted
            </h1>
            <button id="wishlist-btn">Cart</button>
        </div>
        <div class="cart-headers">
            <h1>Course Name</h1>
            <h1>Teacher</h1>
            <h1>Price</h1>
        </div>
        <% let total=0; %>
            <% favorites.forEach(favorite=> { %>
                <div class="cart-data">
                    <div id="delete-div">
                        <div style="max-width: 250px; word-wrap: break-word;">
                            <p>
                                <%= favorite.name %>
                            </p>
                        </div>
                        <form action="/wishlist/delete/<%= favorite._id %>?_method=DELETE" method="POST">
                            <button id="delete-btn"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                        </form>
                        <form action="/courses/cart/<%= favorite._id %>"
                            method="POST">
                            <button type="submit" id="cart-btn"><i class="fa fa-solid fa-cart-arrow-down"></i></button>
                        </form>
                    </div>

                    <div style="max-width: 250px; word-wrap: break-word;">
                        <p style="margin-left: 4em;">
                            <%= favorite.instructor.fullname %>
                        </p>
                    </div>
                    <p>
                        <%= favorite.price %>
                    </p>
                </div>
                <% total+=favorite.price }); %>
                    <div id="total">
                        <h1>Total</h1>
                        <h1>
                            <%= total %>
                        </h1>
                    </div>
                    <div id="buttons">
                        <button>Continue Shopping</button>
                    </div>


    </section>