<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/instructorProfile.css">
    <section>
        <div class="container">
            <div class="teacher-data">
                <h1>
                    <%= instructor.fullname %>
                </h1>
                <h3>
                    <%= instructor.specialization %> Teacher
                </h3>
                <p>
                    <%= instructor.about %>
                </p>
            </div>
            <div class="teacher-img">
                <img src="<%= instructor.image.url %>" alt="">
            </div>
        </div>

        <div class="cards">
            <% instructor.ownedCourses.forEach(course=> { %>
                <div class="card">
                    <% if(course.image){ %>
                        <img src="<%= course.image.url %>" alt="">
                        <% } else{ %>
                            <img src="https://res.cloudinary.com/dd36t4xod/image/upload/v1656188369/CentroTech/courses/Image_upload-pana_ol1co3.png"
                                alt="">
                            <% } %>
                                <h3>
                                    <%= course.name %>
                                </h3>
                                <!-- <button>View Course</button> -->
                                <a href="/courses/<%= course._id %>">View</a>
                </div>
                <% }); %>
        </div>
    </section>