<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/instructorProfile.css">
    <section>
        <div class="container">
            <div class="teacher-data">
                <h1>
                    <%= instructor.fullname %>
                </h1>
                <h3>
                    <%= instructor.specialization %> Teacher
                </h3>
                <p>
                    <%= instructor.about %>

            </div>
            <div class="teacher-img">
                <img src="<%= instructor.image.url %>" alt="">
            </div>
        </div>

        <div class="cards">
            <% instructor.ownedCourses.forEach(course=> { %>
                <div class="card">
                    <% if(course.image){ %>
                        <div class="course-img">
                            <img src="<%= course.image.url %>" alt="">
                        </div>
                        <% } else{ %>
                            <div class="course-img">
                                <img src="https://res.cloudinary.com/dd36t4xod/image/upload/v1656188369/CentroTech/courses/Image_upload-pana_ol1co3.png"
                                    alt="">
                            </div>

                            <% } %>
                                <div>
                                    <h2>
                                        <%= course.name %>
                                    </h2>
                                    <!-- <button>View Course</button> -->
                                    <a href="/courses/show/<%= course._id %>"><button>View</button></a>
                                </div>

                </div>
                <% }); %>
        </div>
    </section>